<div class="container">
    <div class="img">
        <img src="https://avatars.githubusercontent.com/u/69852246?s=400&u=334ff595d5e27a91723fa235efc72a20f8571c19&v=4" alt="">
    </div>
    <div class="content">
        <h1>Brenda A.</h1>
        <p>Front-End Developer</p>
    </div>
    <div class="list">
        <ul>
            <li><a href="https://github.com/Brenda-A-S" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/brenda-antunes-silva/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
</div>
