<footer class="container">
    <div class="main__content">
        <div class="about">
            <h2>About us</h2>
            <div class="hr"></div>
            <i class="fa-solid fa-hippo"> Hippo</i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, aliquam quod labore ullam nulla
                quia sint quaerat velit maiores placeat!</p>
            <ul class="social-list">
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>


        <div class="contact">
            <h2>Contact us</h2>
            <div class="hr"></div>
            <ul class="contact-list">
                <li><a href=""><i class="fa-sharp fa-solid fa-location-dot"></i>Brasil, São Paulo</a></li>
                <li><a href=""><i class="fa-sharp fa-solid fa-phone"></i>+55 11 90000-0000</a></li>
                <li><a href=""><i class="fa-sharp fa-solid fa-envelope"></i>abc@email.com</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom__content">
        <p>Created By <span>Brenda Antunes</span>
    </div>
</footer>