.container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 1rem;
}

.container .img {
    width: 33%;
    height: 63%;
    overflow: hidden;    
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;   
    transition: all .1s ease-in-out;
}

.container img { 
    object-fit: cover;
    object-position: center;
    width: 100%;
    min-height: 50vh;
    position: absolute;
    
     
    border-radius: 20px;
}

.container .img:hover {
    width: 155%;
    min-height: 90%;
}