.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 1rem;
}

.container .img {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    overflow: hidden;    
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;   
    transition: all .1s ease-in-out;
}

.container img { 
    width: 350px;
    height: 250px;
    position: absolute;
}

.container .img:hover {
    width: 350px;
    height: 250px;
}