<div class="container">
    <ul>
        <li style="--cor1:#eeaeca;--cor2:#94bbe9;">
            <span class="icon"><img src="https://cdn-icons-png.flaticon.com/512/845/845022.png?w=740&t=st=1683946268~exp=1683946868~hmac=1fe3aee68c0680175773afb92f2dc92dccfed7159dbcf825a78cddb90046753d" alt=""></span>
            <span class="title">Início</span>
        </li>
        <li style="--cor1:#cdb4db;--cor2:#ffc8dd;">
            <span class="icon"><img src="https://cdn-icons-png.flaticon.com/512/1250/1250579.png?w=740&t=st=1683946330~exp=1683946930~hmac=614a29faf876d8ddf577ef314058bea5d214e0c563a151ef5f6d56c84065f193" alt=""></span>
            <span class="title">Mensagens</span>
        </li>
        <li style="--cor1:#bde0fe;--cor2:#ffafcc;">
            <span class="icon"><img src="https://cdn-icons-png.flaticon.com/512/1250/1250715.png?w=740&t=st=1683946344~exp=1683946944~hmac=75a3e0b4026b46e7bb17939848bbdd76b36c7dc81d40a6fcff77f3a8b1f26195" alt=""></span>
            <span class="title">Favoritos</span>
        </li>
        <li style="--cor1:#ffafcc;--cor2:#bde0fe;">
            <span class="icon"><img src="https://cdn-icons-png.flaticon.com/512/1250/1250599.png?w=740&t=st=1683946367~exp=1683946967~hmac=f2c80daf77806a31cc8db8b3167013f5740e1cac50805f31cd686786aec05765" alt=""></span>
            <span class="title">Agenda</span>
        </li>
    </ul>
</div>
