ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
}

ul li {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 15px rgba(245, 245, 245, 0.233);
    border-radius: 25px;
    transition: .5s;
}

ul li:hover {
    width: 120px;
    box-shadow: none;
}

ul li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;
    opacity: 0;
    box-shadow: 2px 2px 15px rgba(245, 245, 245, 0.233);
}

ul li:hover::before {
    opacity: 1;
}

ul li:hover::after {
    opacity: 1;
}

ul li .icon img {    
    padding-top: 3px;
    width: 17px;
    height: 20px;
    transform: scale(1);
    transition: .1s;
    filter: invert(65%);
}

ul li .title {
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transform: scale(0);
    transition: .5s;
    color: #fff;
    z-index: 1;
}

ul li:hover .icon img {
    transform: scale(0);
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: .1;
}
