.container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 75vh;
    position: relative;
}

.container__cover {
    width: 100%;
    height: 50vh;
    background-image: url('https://img.freepik.com/vetores-gratis/nave-espacial-ufo-voando-no-espaco-dos-desenhos-animados-vector-icone-ilustracao-icone-de-tecnologia-de-ciencia-isolado_138676-7559.jpg?w=740&t=st=1684876124~exp=1684876724~hmac=bb4a230cf7650393cb9ec14f86878ba1c0c90de66124707205ee3349b22c30df');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    box-shadow: 0px 0px 5px #af81fe81;
    transition: all 1s ease-in-out;
    z-index: 1;
}

.container__cover:hover {
    background-image: url('https://img.freepik.com/vetores-gratis/bonito-astronauta-andando-ovni-com-espaco-banner-desenho-vetorial-icone-ilustracao-tecnologia_138676-4311.jpg?w=740&t=st=1684878193~exp=1684878793~hmac=efbfca0dcddda0dfc1ace77d2ccf1152163339cf812b4bfd6e14e913d1d18da4');
}

.container__content {
    height: 25vh;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s ease-in-out;
    position: absolute;
    transform: translateY(25vh);
    background-color: #141414;
}

.container:hover .container__content {
    transform: translateY(50vh);    
    box-shadow: 0px 0px 5px #af81fe81;
}


.container__content h1  {
    padding-bottom: 10px;
    text-align: center;
    color: #af81fe;
}

