<div class="container">
    <div class="slides">

        <input class="input" type="radio" name="slide" id="slide1" checked>
        <input class="input" type="radio" name="slide" id="slide2">
        <input class="input" type="radio" name="slide" id="slide3">
        <input class="input" type="radio" name="slide" id="slide4">
        <input class="input" type="radio" name="slide" id="slide5">


        <div class="slide s1">
            <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                alt="">
        </div>

        <div class="slide">
            <img src="https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                alt="">
        </div>

        <div class="slide">
            <img src="https://images.unsplash.com/37/IHLjdHdzSvi0rgUMMlSK_TE3_0286.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1334&q=80"
                alt="">
        </div>

        <div class="slide">
            <img src="https://images.unsplash.com/photo-1527489377706-5bf97e608852?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1259&q=80"
                alt="">
        </div>

        <div class="slide">
            <img src="https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80"
                alt="">
        </div>
    </div>


    <div class="labels">

        <label class="button" for="slide1"></label>
        <label class="button" for="slide2"></label>
        <label class="button" for="slide3"></label>
        <label class="button" for="slide4"></label>
        <label class="button" for="slide5"></label>

    </div>
</div>