<div class="container red">
    <h1 class="title">Day 1</h1>
    <app-social-icon
        img="https://cdn-icons-png.flaticon.com/512/1216/1216928.png?w=740&t=st=1683216718~exp=1683217318~hmac=447824a77bf2fd40f2262069ed2aae48caf6bfea0b50dade38aff19f1e8b85d6"
        alt="Youtube img" href="https://www.youtube.com/"></app-social-icon>
</div>
<div class="container red">
    <h1 class="title">Day 2</h1>
    <app-loader1 color="pink"></app-loader1>
    <app-loader1 color="red"></app-loader1>
    <app-loader1 color="blue"></app-loader1>
</div>
<div class="">
    <app-colors></app-colors>
</div>
<div class="container slateblue">
    <h1 class="title">Day 4</h1>
    <app-button1></app-button1>
</div>
<div class="container red">
    <h1 class="title">Day 5</h1>
    <app-heart></app-heart>
</div>
<div class="container dark-white">
    <app-light></app-light>
</div>
<div class="container">
    <app-title></app-title>
</div>
<div class="container">
    <app-text></app-text>
</div>
<div class="container dark-gray">
    <h1 class="big-title">Day 9</h1>
    <app-rain></app-rain>
</div>
<div class="container">
    <h1 class="title">Day 10</h1>
    <app-icons alt="Icon Diary"     src="https://cdn-icons-png.flaticon.com/512/1250/1250599.png?w=740&t=st=1683657278~exp=1683657878~hmac=9c4e615fba88eb7c95d2f2144fd934511cf01b360ab3b8ed64974d66b30fca1b"></app-icons>
    <app-icons alt="Icon Message"   src="https://cdn-icons-png.flaticon.com/512/481/481659.png?w=740&t=st=1683659488~exp=1683660088~hmac=c3a733e487223e10bd59aa819c1544b2d0d083cafaed74dfdb1722d6773f3405"></app-icons>
    <app-icons alt="Icon Phone"     src="https://cdn-icons-png.flaticon.com/512/159/159832.png?w=740&t=st=1683659541~exp=1683660141~hmac=9f69297d6b42980036df60de44c52caab90c7943bc228f84ff2b8d4ce434c76e"></app-icons>
    <app-icons alt="Icon Local"     src="https://cdn-icons-png.flaticon.com/512/1239/1239344.png?w=740&t=st=1683659568~exp=1683660168~hmac=716b9150dd6bebd3e2fcbeb64628b8e42c9c8d265df83917499002a84a22c2d3"></app-icons>
</div>
<div class="container red">
    <h1 class="title">Day 11</h1>
    <app-card 
    src_1="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-chef-feminino_114360-12051.jpg?w=740&t=st=1683843059~exp=1683843659~hmac=5459baad798a6fc7dd17246f8106b0144e2e7118591fb19e57a07939d348d6ad"
    alt_1="Chef de cozinha"
    src_2="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-massa_114360-8050.jpg?w=740&t=st=1683843113~exp=1683843713~hmac=7eeeef905acbdd53789c6c05dff4a1980b63fbee342aac45a255ab136ba135b5"
    alt_2="Comendo"></app-card>
    <app-card 
    src_1="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-ultrassecreto_114360-7562.jpg?w=740&t=st=1683854751~exp=1683855351~hmac=adbdb09df8774698380b87ed0e8cf70e775007e7548ad848761e1af82e366eb5"
    alt_1="Chef de cozinha"
    src_2="https://img.freepik.com/vetores-gratis/ilustracao-do-novo-conceito-de-produto_114360-6721.jpg?w=740&t=st=1683854757~exp=1683855357~hmac=f7d9d3b1423edaeeac5b9288caa81f2d0b862cfa7cf84c024b1937345c4cb8cf"
    alt_2="Comendo"></app-card>
    <app-card 
    src_1="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-cabelo-cacheado_114360-7633.jpg?w=740&t=st=1683854726~exp=1683855326~hmac=f448d0689b8ddd38ed210f0b5ada90eb1c93162e53af432ec556d67e252fc099"
    alt_1="Chef de cozinha"
    src_2="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-sorvete-derretido_114360-5721.jpg?w=740&t=st=1683854800~exp=1683855400~hmac=a415d7d51ae52e43a0416ec0e5f5e498eca439e25bff2828a103853ab59fcea2"
    alt_2="Comendo"></app-card>
</div>
<div class="container dark-gray">
    <h1 class="title">Day 12</h1>
    <app-menu-hover></app-menu-hover>
</div>
<div class="container">
    <h1 class="title">Day 13</h1>
    <app-heart-button></app-heart-button>
</div>
<div class="container red">
    <h1 class="title">Day 14</h1>
    <app-imgs-expand
    src1="https://images.unsplash.com/photo-1603977385628-d7e6d19f0370?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
    src2="https://images.unsplash.com/photo-1508205065970-cad01cebebb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
    src3="https://images.unsplash.com/photo-1516050327434-9d06ea9bfae8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1801&q=80"
    ></app-imgs-expand>
</div>
<div class="container dark-gray">
    <h1 class="title">Day 15</h1>
    <app-float-text></app-float-text>
</div>
<div class="container">
    <h1 class="title">Day 16</h1>
    <app-book></app-book>
</div>
<div class="container">
    <h1 class="title">Day 17</h1>
    <app-marquee></app-marquee>
</div>
<div class="container dark-gray">
    <h1 class="title">Day 18</h1>
    <app-tiping></app-tiping>
</div>
<div class="container">
    <h1 class="title">Day 19</h1>
    <app-search></app-search>
</div>
<div class="container">
    <h1 class="title">Day 20</h1>
    <app-menu-hamburguer></app-menu-hamburguer>
</div>
<div class="container dark-gray">
    <h1 class="title">Day 21</h1>
    <app-login></app-login>
</div>
