@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&display=swap');

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.title {
    position: absolute;
    top: 10px;
    left: 10px;    
    font-family: 'Nunito', sans-serif;
}

.big-title {
    position: absolute;
    top: 25%;
    left: 33%;
    font-family: 'Nunito', sans-serif;
    font-size: 6rem;
}

.gray{
    color: red;
}

.red {
    color: #c1121f;
}

.slateblue {
    color: slateblue;
}

.dark-white {
    color: #fff;
    background-color: #111;
}

.dark-gray {    
    color: #b1b1b1;
    background-color: #111;
}