<div class="container gray">
    <h1 class="title">Day 1</h1>
    <app-social-icon
        img="https://cdn-icons-png.flaticon.com/512/1216/1216928.png?w=740&t=st=1683216718~exp=1683217318~hmac=447824a77bf2fd40f2262069ed2aae48caf6bfea0b50dade38aff19f1e8b85d6"
        alt="Youtube img" href="https://www.youtube.com/"></app-social-icon>
</div>
<div class="container red">
    <h1 class="title">Day 2</h1>
    <app-loader1 color="pink"></app-loader1>
    <app-loader1 color="red"></app-loader1>
    <app-loader1 color="blue"></app-loader1>
</div>
<div class="">
    <app-colors></app-colors>
</div>
<div class="container slateblue">
    <h1 class="title">Day 4</h1>
    <app-button1></app-button1>
</div>