<div class="container__rain">
    <span class="rain" style="--i:19"></span>
    <span class="rain" style="--i:12"></span>
    <span class="rain" style="--i:16"></span>
    <span class="rain" style="--i:11"></span>
    <span class="rain" style="--i:15"></span>
    <span class="rain" style="--i:18"></span>
    <span class="rain" style="--i:10"></span>
    <span class="rain" style="--i:19"></span>
    <span class="rain" style="--i:12"></span>
    <span class="rain" style="--i:13"></span>
    <span class="rain" style="--i:17"></span>
    <span class="rain" style="--i:17"></span>
    <span class="rain" style="--i:14"></span>
    <span class="rain" style="--i:11"></span>
    <span class="rain" style="--i:11"></span>
    <span class="rain" style="--i:12"></span>
    <span class="rain" style="--i:15"></span>
    <span class="rain" style="--i:11"></span>
    <span class="rain" style="--i:16"></span>
    <span class="rain" style="--i:12"></span>
    <span class="rain" style="--i:12"></span>
    <span class="rain" style="--i:13"></span>
    <span class="rain" style="--i:12"></span>
    <span class="rain" style="--i:18"></span>
    <span class="rain" style="--i:10"></span>
    <span class="rain" style="--i:18"></span>
</div>