.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container span {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #76d7ea9a;
    animation: floating 10s ease-in-out infinite;
}

@keyframes floating {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-60px);
    }
}

.container span {
    animation-delay: var(--i);
}