<div class="container">
    <div class="input">
        <label for="email-login">Email</label>
        <input type="email" name="" id="email-login">
    </div>
    <div class="input">
        <label for="password-login">Senha</label>
        <input type="password" name="" id="password-login">
    </div>
    <div class="recovery">
        <div class="remember">
            <input type="checkbox" name="" id="field_remember">
            <label for="field_remember"> Manter conectado</label>
        </div>
        <div class="recover">
            <a href="#">Recuperar senha</a>
        </div>
    </div>
    <div class="button">
        <button>Entrar</button>
        <button>Cadastre-se</button>
    </div>
</div>