<div class="container__book">
    <div class="cover">
        <h1>Open</h1>
        <img src="https://img.freepik.com/vetores-gratis/bandeja-de-comida-de-restaurante-cloche-bandeja-prato-para-servir-refeicao-prato-restaurante-banner-logo-cartoon-art-illustration_56104-960.jpg?w=826&t=st=1684270879~exp=1684271479~hmac=ee1b78e6e8bedf45e41340664740cb44d05dabd205d417bcf3b06b0f6e78b5ea" alt="">
    </div>
    <h1>Surprise!</h1>
    <img src="https://img.freepik.com/vetores-gratis/chef-fofo-segurando-uma-ilustracao-de-desenho-de-pizza_56104-320.jpg?w=826&t=st=1684270890~exp=1684271490~hmac=245adc94da3b03f57f3c0b1a76e412790ef40451543f5dd1752420fd33e5de14" alt="">
</div>
