<header class="container">
    <a class="container__logo">
        <img src="https://cdn-icons-png.flaticon.com/512/1116/1116492.png?w=740&t=st=1685309223~exp=1685309823~hmac=5a8c0fa9d5902a06215542afbcbb04964eaec9eed5f9abc97759d57184e89d0f" alt="Icone de lua">
    </a>
    <nav class="container__menu">
        <button><app-menu-hamburguer idcheckbox="hamburguer"></app-menu-hamburguer></button>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>